<%- include("layouts/header.ejs") %>
<main>
  <div class="product_Section layout_padding">
    <div class="container">
      <div class="image_2"><img src="images\carpink.jpg" /></div>
      <h1 class="about_taital">Our toy Collection</h1>
      <p class="lorem_text">Upcomming Toy collection</p>
      <div class="product_Section2 layout_padding">
        <div class="row">
          <% products.forEach(product => { %>
          <div class="col-md-4">
            <div class="box_section">
              <div>
                <a href="/product/<%= product.id %>"
                  ><img
                    class="single_product_img"
                    src="<%= product.image_path %>"
                    alt="%= product.product_title %"
                /></a>
              </div>
              <h2 class="dolor_text"><%= product.product_price %> TK</h2>
              <a href="/product/<%= product.id %>"
                ><h2 class="dolor_text"><%= product.product_title %></h2></a
              >

              <form action="/cart/add" method="POST" class="text-center">
                <input
                  type="hidden"
                  name="productId"
                  value="<%= product.id %>"
                />
                <button
                  type="submit"
                  class="btn btn-lg btn-dark"
                  onclick="product()"
                >
                  Add to Cart
                </button>
              </form>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  function product() {
    alert("The product is added to the cart");
  }
</script>
<%- include("layouts/footer.ejs") %>
